.seatBox {
    position: relative;
    margin: 5px;
    background-color: rgba(255, 73, 73, 0.658);
    width: 60px;
    height: 60px;
    text-align: center;
    float: left;
}

.seat {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 10px;
    width: 60px;
    height: 60px;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.aisle {
    position: absolute;
    left: 0;    
    width: 60px;
    height: 60px;
    background-color: rgb(126, 126, 126);  
}